* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Navbar */
#menu {
  background-color: #5050c0 !important;
}
#menu ul li {
  display: inline-block;
  list-style: none;
}
#menu ul li a {
  color: #9dd3de;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  padding: 0px 32px;
}
#menu ul li a:hover {
  color: #eadc3e;
  padding-left: 10px;
}
#menu ul li p {
  float: left;
  color: #ffffff;
  text-transform: uppercase;
}

.footer {
  background-color: #5050c0;
  padding: 60px 0;
  overflow-x: hidden;
}
.footer .container__footer {
  max-width: 1170px;
  margin: auto;
  overflow-x: hidden;
}
.footer .container__footer .row {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
}
.footer .container__footer .row .footer-col {
  width: 25%;
  padding: 0 15px;
  overflow-x: hidden;
}
.footer .container__footer .row .footer-col h4 {
  font-size: 18px;
  color: antiquewhite;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}
.footer .container__footer .row .footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #d4d452;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer .container__footer .row .footer-col ul {
  list-style: none;
}
.footer .container__footer .row .footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer .container__footer .row .footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
}
.footer .container__footer .row .footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 10px;
}
.footer .container__footer .row .footer-col ul li p {
  padding-right: 15px;
}
.footer .container__footer .row .footer-col #iconosRedes {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
}

/* Carrusel */
.carousel-inner {
  height: auto;
  width: 75vw;
  margin: 2rem auto 1rem auto;
}

/* Sobre Nosotros */
.nosotrosFlex {
  display: flex;
  flex-direction: row;
  grid-template-columns: 40% auto;
  justify-content: space-between;
  width: 80vw;
  margin: 2rem auto 0 auto;
}
.nosotrosFlex #nosotros {
  align-items: flex-start;
}
.nosotrosFlex .nosotrosUbicacion {
  display: block;
  width: 70%;
  height: 400px;
  margin: 0 auto;
  align-items: flex-end;
}
.nosotrosFlex #iconosOpinion {
  font-size: 35px;
  padding: 15px 10px 20px 10px;
}

@media (max-width: 768px) {
  .nosotrosFlex {
    display: flex;
    flex-direction: column;
    grid-template-rows: 40% auto;
    justify-content: space-between;
    width: 80vw;
    margin: 2rem auto 0 auto;
  }
  .nosotrosFlex #nosotros {
    align-items: flex-start;
  }
  .nosotrosFlex .nosotrosUbicacion {
    display: block;
    width: 70%;
    height: 400px;
    margin: 0 auto;
    align-items: flex-end;
  }
  .nosotrosFlex #iconosOpinion {
    font-size: 35px;
    padding: 15px 10px 20px 10px;
  }
}
.hombres_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  margin: 2rem 20px 2rem 20px;
  overflow-x: hidden;
}
.hombres_container .item {
  background-color: #3535ff;
  padding: 20px;
  text-align: center;
}
.hombres_container .item h2 {
  display: inline-block;
  text-align: center;
  color: #d9e21a;
}
.hombres_container .item p {
  text-align: center;
  color: white;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .hombres_container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .hombres_container .item {
    width: 100%;
  }
}
.mujeres_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  margin: 2rem 20px 2rem 20px;
}
.mujeres_container .m_item {
  background-color: #3535ff;
  padding: 20px;
  text-align: center;
}
.mujeres_container .m_item h2 {
  display: inline-block;
  text-align: center;
  color: #d9e21a;
}
.mujeres_container .m_item p {
  text-align: center;
  color: white;
}

@media only screen and (max-width: 768px) {
  .mujeres_container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
body {
  font-family: Times, "Times New Roman", Georgia, serif;
  overflow-x: hidden;
  background-color: #e7eabf;
}

/* texto e imagen 1 */
.primerLinea {
  background-color: #3535ff;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  width: 80vw;
  margin: 2rem auto 1rem auto;
  overflow: hidden;
}
.primerLinea img {
  width: 70%;
  max-height: 50vh;
}
.primerLinea h1 {
  text-align: center;
  color: #d9e21a;
}
.primerLinea p {
  text-align: center;
  color: white;
}

/* texto e imagen 2 */
.segundaLinea {
  background-color: #3535ff;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  width: 80vw;
  margin: 2rem auto 1rem auto;
}
.segundaLinea img {
  width: 70%;
  max-height: 60vh;
}
.segundaLinea h2 {
  text-align: center;
  color: #d9e21a;
}
.segundaLinea p {
  color: white;
}

.nuestra_info {
  background-color: beige;
  border-color: yellow;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
.nuestra_info img {
  width: 45vw;
  height: auto;
}

@media (max-width: 768px) {
  .primerLinea {
    background-color: #3535ff;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 100vw;
    margin: 2rem auto 1rem auto;
    flex-direction: column;
  }
  .primerLinea img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: auto;
  }
  .segundaLinea {
    background-color: #3535ff;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 100vw;
    margin: 2rem auto 1rem auto;
    flex-direction: column;
  }
  .segundaLinea img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
  }
}
.nuestra_info img {
  width: 75%;
  height: auto;
}

/*# sourceMappingURL=style.css.map */
