/* Footer */

footer {
    background-color:rgb(64, 133, 218);
    min-height: 80px;
    p{
        color: black;
        text-align: center;
    }
}

#iconosRedes {
    font-size: 35px;
    color: yellow;
}
