.hombres_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    margin: 2rem 20px 2rem 20px;
    .item {
      background-color: #7fff8f;
      padding: 20px;
      text-align: center;
      h2 {
        display: inline-block;
        text-align:center;
        color: #ac7716;
        
      }
      p {
        text-align: center;
        color: white;
      }
    }
  }
  
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  @media only screen and (max-width: 768px) {
    .hombres_container {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
  }